#computer-header {
    min-height: 100vh;
    height: 100%;
    position: relative;
  }
  
  #computer-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  #computer-header .header-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 100px 0;
  }
  
  #computer-header .header-desc .card-box {
    padding: 50px 30px;
    width: 50%;
    -webkit-box-shadow: -30px -30px 60px -70px gray, 30px 30px 60px -70px gray;
            box-shadow: -30px -30px 60px -70px gray, 30px 30px 60px -70px gray;
  }
  
  #computer-header .header-desc .card-box .title {
    word-wrap: break-word;
  }
  
  #computer-header .header-desc .card-box .title h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
  
  #computer-header .header-desc .card-box .description h5 {
    font-size: 1.2em;
    color: #111111;
    padding: 25px 0;
  }
  
  #computer-header .header-desc .image {
    width: 35%;
  }
  
  #computer-header .header-desc .image img {
    width: 100%;
  }
  
  #computer-header .go-bottom {
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translate(-50%, -5px) rotate(90deg);
            transform: translate(-50%, -5px) rotate(90deg);
    font-size: 26px;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: gray;
    color: white;
  }
  
  #computer-header .go-bottom:hover {
    background: #1a1a1a;
  }
  
  section#computer-explanation {
    min-height: 100vh;
    height: 100%;
    background: #ececec;
    padding: 50px 0;
  }
  
  section#computer-explanation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  section#computer-explanation .what-is-computer {
    width: 70vw;
    padding: 10px 3vw;
  }
  
  section#computer-explanation .what-is-computer h1.title {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  
  section#computer-explanation .what-is-computer p.description {
    padding-top: 30px;
    line-height: 30px;
    font-size: 1.1em;
  }
  
  section#computer-explanation video {
    max-width: 100vw;
  }
  
  section#computer-parts {
    min-height: 100vh;
    width: 100vw;
    padding: 50px 0;
  }
  
  section#computer-parts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  section#computer-parts .parts-describe {
    width: 70vw;
    padding: 0 3vw;
  }
  
  section#computer-parts .parts-describe h1.title {
    letter-spacing: 3px;
    font-size: 2.5em;
  }
  
  section#computer-parts .parts-describe .description {
    padding: 70px 0;
    font-size: 1.3em;
    line-height: 30px;
  }
  
  section#computer-parts .parts-describe .parts-list {
    font-size: 1.3em;
    padding: 0 10px;
  }
  
  section#computer-parts .parts-describe .parts-list .specific-part {
    color: black;
    margin: 8px 0;
  }
  
  section#computer-parts .parts-describe .parts-list .specific-part .nav-link {
    color: black;
    font-weight: 800;
  }
  
  section#computer-parts .parts-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  section#computer-parts .parts-images .image-container {
    position: relative;
    min-height: 250px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  section#computer-parts .parts-images .image-container picture img {
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: drop-shadow(8px 5px 10px black);
            filter: drop-shadow(8px 5px 10px black);
  }
  
  section#computer-parts .parts-images .image-container:hover img {
    -webkit-filter: drop-shadow(15px 10px 10px black) grayscale(1);
            filter: drop-shadow(15px 10px 10px black) grayscale(1);
  }
  
  section#computer-parts .parts-images .image-container:hover::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    -webkit-filter: drop-shadow(2px 2px 5px black);
            filter: drop-shadow(2px 2px 5px black);
    font-weight: bolder;
  }
  
  .height {
    height: 100vh;
  }
  
  @media screen and (max-width: 768px) {
    #computer-header {
      min-height: 100vh;
      height: 100%;
      position: relative;
    }
    #computer-header .header-desc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    #computer-header .header-desc .card-box {
      width: 100%;
    }
    #computer-header .header-desc .image {
      width: 50%;
    }
  }
  /*# sourceMappingURL=computer.css.map */